numpy==2.5.3
sounddevice==0.5.6
soundfile==0.14.0
pynput==1.8.2
pyobjc-core==12.2.2
pyobjc-framework-Quartz==12.2.2
pyobjc-framework-Cocoa==12.2.2
requests==2.34.2
opencc-python-reimplemented==0.1.7
py2app==0.28.10
sherpa-onnx==1.13.7
